{% extends "base.html" %} {% block content %}

<form action="http://127.0.0.1:5000/pokemon" method="POST">
  <label for="name">Pokemon</label>
  <input type="text" id="name" name="name" />

  <label for="nickname">Nickname</label>
  <input type="text" id="nickname" name="nickname" />

  <label for="type">Type</label>
  <input type="text" id="type" name="type" />

  <label for="level">Level</label>
  <input type="text" id="level" name="level" />

  <input type="submit" value="submit" />
</form>
{% for p in pokemon %}

<div>
  <h4>{{p.name}}</h4>
  <div>
    <span>
      <p>Nickname: {{p.nickname}}</p>
      <p>Level: {{p.level}}</p>
    </span>
  </div>
  <p>{{p.type}}</p>
</div>
{% endfor %} {% endblock %}
